# ATTENTION!
# if on Windows, use Python 3.6

cloudinary
dj-database-url
Django>=3.1
django-widget-tweaks
dlib==19.8.1
face-recognition==1.2.2
gunicorn
numpy==1.19.0
psycopg2-binary
python-dotenv>=0.14.0
whitenoise
