{% extends "site_base.html" %}

<!-- {% load static %} -->

{% block extra_custom_css %}
    <link rel="stylesheet" href="{% static 'search/css/landing.css' %}">
    <link rel="stylesheet" href="{% static 'search/css/form.css' %}">
{% endblock %}

{% block body %}
    <div class="container mx-auto h-full w-full flex justify-center items-center">
        <div class="relative w-full max-w-screen-sm mx-2">
            <h1 class="absolute -top-12 w-full flex justify-center text-3xl brand">
                <span>in</span>
                <span class="q uppercase font-bold text-3xl">q</span>
                <span>ueerstigate</span>
            </h1>

            {% include "search/form.html" %}
        </div>
    </div>
{% endblock %}
