<div class="bg-indigo-500 text-white font-bold rounded px-4 py-2 mb-4 shadow-md" role="alert">
    <p>No Matches Found</p>
</div>
<div class="bg-indigo-100 border-t-4 border-indigo-500 rounded-b text-indigo-900 px-4 py-3 mb-4 shadow-md" role="alert">
    <div class="flex">
        <div class="py-1"><svg class="fill-current h-6 w-6 text-indigo-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
        <div>
            <p class="mb-4">This doesn't necessarily mean you are good to go with them.</p>
            <p>Here are a few steps you can take to ensure your safety before going out to meet with new friends (or hookups):</p>
            <ul class="list-disc mb-4">
                <li>Insist on video calls at different times to make sure you aren't being catfished</li>
                <li>Share their pictures with friends and queer groups to verify them</li>
                <li>Read <a href="https://kitodiaries.com/blog" class="underline text-indigo-600">Kito Diaries</a> for kito alerts and hookup safety tips</li>
            </ul>
        </div>
    </div>
</div>