<!-- {% load static %} -->

<!doctype html>
<html lang="en" class="h-screen w-screen overflow-x-hidden bg-gray-300 text-black">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}inQueerstigate{% endblock %}</title>

        <meta name="description" content="inQueerstigate uses face recognition technology to help you protect yourself from criminal elements who lure members of the LGBTQ+ community into meeting them."/>

        <!-- <link rel="icon" href="{% static 'img/brand.png' %}" type="image/png"> -->
        <link rel="shortcut icon" href="{% static 'img/brand.png' %}" type="image/png">

        <!-- Tailwind CSS -->
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
          rel="stylesheet">

        {% block extra_vendor_css %}{% endblock %}

        {% block custom_css %}
            <link rel="stylesheet" href="{% static 'css/site_base.css' %}">
        {% endblock %}

        {% block extra_custom_css %}{% endblock %}
    </head>

    <body class="min-h-full w-full overflow-x-hidden flex flex-col">
        {% block body %}{% endblock %}

        {% block footer %}
        <footer class="bg-black text-gray-200 mt-auto text-center p-8">
            <div class="container mx-auto">&copy; <a href="https://roygbivery.com/" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">ROYGBIVery</a>, 2021</div>
        </footer>
        {% endblock %}

        {% block extra_vendor_js %}{% endblock %}
        {% block       custom_js %}{% endblock %}
        {% block extra_custom_js %}{% endblock %}
    </body>

</html>