<!-- {% load static %} -->

<!doctype html>
<html lang="en" class="bg-black text-gray-200">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}inQueerstigate{% endblock %}</title>

        <!-- <link rel="icon" href="{% static 'img/brand.png' %}" type="image/png"> -->
        <link rel="shortcut icon" href="{% static 'img/brand.png' %}" type="image/png">

        <!-- Tailwind CSS -->
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
          rel="stylesheet">

        {% block extra_vendor_css %}{% endblock %}

        {% block custom_css %}
            <link rel="stylesheet" href="{% static 'css/site_base.css' %}">
        {% endblock %}

        {% block extra_custom_css %}{% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}

        {% block extra_vendor_js %}{% endblock %}
        {% block       custom_js %}{% endblock %}
        {% block extra_custom_js %}{% endblock %}
    </body>

</html>